body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: pink;
  margin: auto;
}

#employee-container {
  margin: 0 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.employee-card {
  border: 1px solid black;
}

.icon {
  width: 30px;
}

@media (min-width: 668px) {
  #employee-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  #employee-container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
