body {
  font-family: "Nunito", sans-serif;
  color: #012c55;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e4e4e4;
}

h1 {
  margin: 0 auto 10px;
}

h2 {
  margin: 0;
  text-align: start;
  overflow-wrap: break-word;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 150px;
  background-color: #012c55;
  background-image: linear-gradient(211deg, #012c55 0%, #80c564 20%, #e4e4e4 48%);
  border-bottom: 10px solid #012c55;
}

.header-image {
  width: 100px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  right: 0;
  position: absolute;
}

.main-content {
  width: 85%;
}

.sorting-container {
  background: #fff;
  margin: 30px 0;
}

.loading-container {
  margin-top: 200px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.loading-shuriken {
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.employee-container {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.employee-card {
  font-weight: lighter;
  border: 4px solid #80c565;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 0 #012c55;
          box-shadow: 4px 4px 0 #012c55;
  background: #fff;
  color: #012c55;
}

.profile-picture {
  border-radius: 5px;
  height: 80px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.icon {
  width: 30px;
  display: block;
}

@media (min-width: 668) {
  .employee-container {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (min-width: 1024px) {
  .main-content {
    width: 75%;
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
