body {
  font-family: "Nunito", sans-serif;
  color: #012c55;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #80c564;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(0,896,496)'%3E%3Cstop offset='0' stop-color='%2380c564'/%3E%3Cstop offset='1' stop-color='%23012c55'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='504' height='420' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.12'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  margin: 0 auto 10px;
  font-size: 40px;
}

h2 {
  margin: 0;
  text-align: start;
  overflow-wrap: break-word;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

a {
  text-decoration: none;
  color: #012c55;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bolder;
}

header {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 150px;
  background-color: #012c55;
  background-image: linear-gradient(211deg, #012c55 0%, #80c564 20%, #e4e4e4 48%);
  border-bottom: 10px solid #012c55;
}

.header-image {
  width: 100px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  right: 0;
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  top: -53px;
  z-index: 5;
}

.header-image2 {
  width: 40px;
  height: 40px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  right: 35px;
  position: absolute;
  top: 0;
}

.header-image:hover {
  top: 0;
}

.header-image:focus {
  top: 0;
}

.header-image:hover + .header-image2 {
  -webkit-animation: shuriken 4s 0.2s ease-out;
          animation: shuriken 4s 0.2s ease-out;
}

.header-image:focus + .header-image2 {
  -webkit-animation: shuriken 4s 0.2s ease-out;
          animation: shuriken 4s 0.2s ease-out;
}

.main-content {
  width: 85%;
  margin-bottom: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sorting-container {
  background: #e4e4e4;
  margin: 30px 0;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  border: 4px solid #80c565;
  -webkit-box-shadow: 0px 0px 0 4px #012c55;
          box-shadow: 0px 0px 0 4px #012c55;
}

select {
  width: 150px;
  border: none;
  border-style: none;
  border-style: none;
  outline-style: none;
  border-radius: 3px;
  border: 2px solid #012c55;
  color: #012c55;
  font-size: 18px;
  -webkit-box-shadow: 0px 0px 0px 3px #012c5500;
          box-shadow: 0px 0px 0px 3px #012c5500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #e4e4e4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 5px;
}

option {
  text-align: center;
}

select:focus,
select:hover,
select:active {
  -webkit-box-shadow: 0px 0px 0px 3px #012c55;
          box-shadow: 0px 0px 0px 3px #012c55;
  padding: 5px;
}

.checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
}

.all-buttons {
  border-style: none;
  border-radius: 6px;
  border: 3px solid #797b8233;
  margin: 5px;
  padding: 3px;
  font-size: 18px;
  font-weight: 300;
  background: #012c55;
  color: #fff;
  border: 2px solid #e4e4e4;
  -webkit-box-shadow: 0px 0px 0px 2px #012c55;
          box-shadow: 0px 0px 0px 2px #012c55;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.all-buttons:focus,
.all-buttons:hover,
.all-buttons:active {
  border: 2px solid #80c564;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.loading-container {
  margin-top: 50px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.loading-shuriken {
  width: 70px;
  height: 70px;
  -webkit-animation: spin 1.75s linear infinite;
          animation: spin 1.75s linear infinite;
}

.employee-container {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.employee-card {
  height: 135px;
  font-weight: lighter;
  border: 4px solid #80c565;
  padding: 5px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 0 #012c55;
          box-shadow: 4px 4px 0 #012c55;
  background: #e4e4e4;
  color: #012c55;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.employee-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.employee-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.employee-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #012c55;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  height: 60px;
}

.phone-nbr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.profile-picture {
  border-radius: 5px;
  height: 80px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.icon {
  margin-left: 3px;
  width: 25px;
  display: block;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.mini-icon {
  margin: 0 5px;
  width: 15px;
  display: block;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.mini-icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 100px;
  background-color: #012c55;
  background-image: linear-gradient(211deg, #80c564 0%, #012c55 20%, #e4e4e4 48%);
  border-top: 10px solid #e4e4e4;
}

.main-p-footer {
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  margin: 0;
}

.small-p-footer {
  text-align: center;
  display: inline;
  margin: 0;
}

.small-p-footer a {
  text-align: center;
  font-weight: bolder;
  display: inline;
  text-decoration: none;
  color: #012c55;
}

footer span {
  font-weight: bolder;
}

@media (min-width: 525px) {
  .checkbox-wrapper {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 668px) {
  h1 {
    font-size: 65px;
  }
  .employee-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .loading-container {
    width: 87vw;
  }
}

@media (min-width: 825px) {
  .button-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sorting-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1124px) {
  h1 {
    margin: 0 auto 10px;
    font-size: 95px;
  }
  .main-content {
    width: 75%;
  }
  .employee-container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .loading-container {
    width: 75vw;
  }
  .employee-card:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  .employee-card:hover .employee-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #012c55;
  }
  .employee-card:focus {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  .employee-card:focus .employee-contacts,
  .employee-contacts:focus,
  .email:focus .employee-contacts,
  .phone-nbr:focus .employee-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #012c55;
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes shuriken {
  100% {
    -webkit-transform: rotate(1440deg);
            transform: rotate(1440deg);
  }
  0% {
    right: 3%;
    top: 0px;
  }
  100% {
    right: 110%;
    top: 550px;
  }
}

@keyframes shuriken {
  100% {
    -webkit-transform: rotate(1440deg);
            transform: rotate(1440deg);
  }
  0% {
    right: 3%;
    top: 0px;
  }
  100% {
    right: 110%;
    top: 550px;
  }
}
